code {
    font-size: 14px;
}
#history {
    font-size: 14px;
    text-align: justify;
}
#starter {
    font-size: 14px;
    text-align: justify;
}
#advanced {
    font-size: 14px;
    text-align: justify;
}
